body {
    min-height: 100vh;
    margin: 0;
}

/* -------- Colors and font styles -------- */
/* hero */
.header-wrapper,
.hero-wrapper,
.footer {
    background-color: #1f2937;
}

.hero-main {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Roboto';
}

.header-links li a,
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    font-family: 'Roboto';
}

.hero-image {
    background-color: gray;
    font-family: "Roboto";
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    font-family: 'Roboto';
}

/* buttons */
.sign-up {
    background-color: #3882f6;
    border-radius: 4px;
}

/* information section */
.info-wrapper .header {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    font-family: 'Roboto';
}

.cards {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.info-wrapper .cards .card .image-placeholder{
    border: 4px solid #3882f6;
    border-radius: 8px;
}

.card .subtext {
    color: #1f2937;
    font-size: 18px;
    font-family: 'Roboto';
}

/* quote section */
.quote-wrapper {
    background-color: #e5e7eb;
}

.quote-wrapper .quote{
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto';
}

.signature {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto';
}

/* call to action */
.call-to-action-wrapper .content {
    background-color: #3882f6;
}

.call-to-action-wrapper .content .sign-up,
.call-to-action-wrapper .content .header,
.call-to-action-wrapper .content .subtext,
.hero-wrapper .hero-image,
.footer {
    color: #f9faf8;
}

/* Structure */
.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* min-width: 100vh; */
}
/* Header */
.header-wrapper {
    display: flex;
    flex-direction: row;
    /* flex: auto; */

    justify-content: space-between;
    align-items: center;

    padding: 0 128px;
}

.header-links {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    gap: 16px;
}